.inputs_container {
  margin-bottom: 12px;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
  .button {
    width: 171px;
    min-width: 171px;
  }
  @media (max-width: 1200px) {
    margin-top: -48px;
  }
}
