.input {
  position: relative;
  width: 100%;

  border: 1px solid #b3cdf8;
  border-radius: 8px;
  padding: 16px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;

  color: #333333;

  &:focus {
    border: 1px solid #5c98f1;
    outline: none;
  }

  @media (max-width: 700px) {
    height: 48px;
  }
}

.input_error {
  border: 1px solid #ff0000 !important;
  outline: none;
  background: url('../../../assets/images/validImage.png') no-repeat center
    right 19px;
}

.input_container {
  margin: 24px 24px 55px 0;
  display: flex;
  width: 100%;
  height: 56px;
  flex-direction: column;
}

.input_label {
  position: relative;
  display: flex;
  margin-bottom: 4px;
  margin-top: 1px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #333333;
}

.error_message {
  display: flex;
  align-items: center;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #fb6262;
}
