.chat_container {
  height: calc(100vh - 160px);
  background: url('../../../assets/images/ChatBackground.png') no-repeat center;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #e1ecfe;
    border-radius: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c5daff;
    border-radius: 12px;
  }

  @media (max-width: 700px) {
    height: calc(100vh - 112px);

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.chat {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.chat_noSelect_container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.chat_myMessage {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.chat_yourMessage {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
