.chat {
  width: 100%;
  height: calc(100vh - 160px);
  background: url('../../../assets/images/ChatBackground.png') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  @media (max-width: 700px) {
    height: calc(100vh - 112px);
  }
}

.chat_noSelect_container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.chat_myMessage {
  width: 100%;
}
