.chats {
  width: 75%;
  height: calc(100vh - 80px);
  background: url('../../../assets/images/ChatBackground.png') no-repeat center;
  background-size: cover;

  @media (max-width: 700px) {
    display: none;
  }
}

.chats_noSelect_container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
